@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height:120vh;
    width: 100%;
    background-color: #4070f4;
    /* column-gap: 30px; */

}

.heading{
   text-align: center;
   font-size: x-large;
   color: #FFF;
   padding: 10px 0;
}
.heading p {
    color: rgb(223, 219, 219);
}
.nav-bar{
    width: 100%;
    background-color:#FFF;
    color: #FFF;
    padding: 12px;
    margin: auto;
    position: sticky;
    top:0;

}
.logo{
    color: #016dcb;
    font-weight:900;
    font-size: 25px;
}

.buttons{
    float: left;
    width: 60%;
    padding: 20px 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content:first baseline;
    align-items: center;
    flex-shrink: 1;
} 

.buttons button{
    padding: 3em 4em 3em 4em;
    margin: 2em 3em 2em 3em;
    justify-content: center;
    font-size: large;
    background-color: #FFF;
    border-radius: 0.5em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    border: none;
}
.buttons div{
    text-align: center;
    font-size: large;
    color: #FFF;
    margin: 0em 2em 2em 2em;
}

#btn-help{
    padding: 1em 2em 1em 2em;
    margin: 2em 2em 2em 2em;
    display: block;
    justify-content: center !important;
    transform: translate(130%);
}

.buttons button:hover{
  background-color: #819ce6;
  transform: translateY(-0.25em);
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #000000;
}

img.vector-img{
    height:300px;
    width: auto;
    margin-top: 80px;

}

.design{
    float: left;
    padding: 20px 20px;
    margin-top: 30px;
}


@media screen and (max-width: 400px) {
    .design{
        display: none;
    }
    
}