
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2{
    color: #fff;
    font-size:200%;
}

h4{
    color: #fff;
    font-size: 150%;
}


.header{
    width: 100%;
    background-color: #fff;
    padding: 13px;
    position: fixed;
    top:0;
    height: auto;

}

.logo{
    color: #016dcb;
    font-weight:900;
    font-size: 25px;
    float: left;
    /* margin-bottom: 12px; */
}

.column-left{
    width: 50%;
    float: left;
}

.column-right{
    width: 50%;
    float: left;
}

.reg-button{
    width:100px;
    outline: none;
    position: absolute;
    top: 20px;
    right: 20px;
}


.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    column-gap: 30px;
    column-count: 2;
}
.form{
    position: absolute;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
    right: 100px;
}

.form.small{
    float: left !important;
    width: 50% !important;
}

.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
    right: 80px;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.signup-field{
    padding: 0 5px !important;
    height: 40px !important;

}

.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

img.vector-img{
    height:auto;
    width: auto;
    position: absolute;
    left: 150px;
    top: 300px;
}

design-image{
    padding: 10px;
    margin: 30px;
    position: absolute;
    top:100px;

}

.design{
    width:700px;
    padding:10px;
}

.design-text{
    position: absolute;
    top: 70px;
    margin:30px;
    padding: 10px;
}

a.google{
    border: 1px solid #CACACA;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

.search-bar{
    display: flex;
    position: absolute;
    right: 8px;
    top: 10px;
    padding: 10px;
      

}
.search-icon {
    position: absolute;
    top: 12px;
    width: 18px;
    margin: 10px 10px;
  }

.clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
    visibility: hidden;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 32px;
    width: 100%;
    padding: 10px 35px 10px 20px;
    outline: 0;
    background-color: #f5f5f5;
    margin: 5px;

}

  .search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    .column-left,  .column-right{
        width: 100%;
    }
    
}